body {
  font-size: 16px;
  /*color: #fff;*/
  background-color: #a5a5af;
  /*font-family: 'Oxygen', sans-serif;*/
}

/* HEADER */
/*#header-nav {
  background-color: #a5a5af;
  border-radius: 0;
  border: 0;
}*/

div {
  box-sizing: border-box;
}

#logo-img {
  background: url('/client/img/smallClue.png') no-repeat;
  width: 80px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 40px;
}
.navbar-brand h1 {
  /*font-family: 'Lora', serif;*/
  color: #015249;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus, #home a:hover {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #015249;
  text-align: center;
}
#nav-list a:hover {
  background: #77c9d4;
}
#nav-list a span {
  font-size: 1.8em;
}

/* Main page */
#msgDiv, #lobby, #gamearea {
  display: none;
}

/* Lobby Page */
.left {
  border: 1px solid orange;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  float: left;
  margin: 5px 5px 5px 5px;
}

.left:hover {
  box-shadow: 0 1px 5px 1px orange;
}
/* End Lobby Page */

/* gamearea */
#gameboard {
  width: 610px;
  float: left;
}

.float {
  float: left;
  text-align: center;
}

.sixteen {
  width: 16%;
  height: 100px;
  background-color: grey;
  padding-top: 35px;
}

.eighteen {
  width: 18%;
  height: 100px;
  background-color: grey;
  padding-top: 35px;
}

.quarter {
  width: 25%;
  height: 30px;
  margin-top: 35px;
  background-color: grey;
}

.vHallway1 {
  width: 6%;
  height: 152.5px;
  margin-left: 5%;
  background-color: grey;
}

.vHallway2 {
  width: 6%;
  height: 152.5px;
  margin-left: 36%;
  background-color: grey;
}

.vHallway3 {
  width: 6%;
  height: 152.5px;
  margin-left: 36%;
  background-color: grey;
}

div.float {
  box-sizing: border-box;
}

#study {
  background-color: green;
}

#hall {
  background-color: green;
}

#lounge {
  background-color: green;
}

#dining {
  background-color: green;
}

#billiard {
  background-color: green;
}

#library {
  background-color: green;
}

#conservatory {
  background-color: green;
}

#ballroom {
  background-color: green;
}

#kitchen {
  background-color: green;
}

.pos7 {
  margin: 71.25px auto;
  margin-top: 71.25px;
}

.pos8 {
  margin: 10px auto;
}

.chat {
  float: left;
  margin-left: 20px;
}

#chatWindow, #activityLog, #myCards {
  width: 100%;
  height: 156px;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-y: scroll;
  border: 1px solid green;
  box-sizing: border-box;
}

#chatInput {
  width: 100%;
  height: 28px;
}

#note {
  width: 225px;
  height: 605px;
  border: 1px solid green;
  margin-left: 5px;
}

#gameInfo {
  width: 300px;
  height: 605px;
  padding: 0;
}

#firstRow {
  width: 300px;
}

.info {
  height: 96px;
  width: 96px;
  border: 1px solid green;
  margin: 2px 2px 2px 2px;
  float: left; 
}

/* End gamearea */