body {
  font-size: 16px;
  /*color: #fff;*/
  background-color: #a5a5af;
  font-family: 'Oxygen', sans-serif;
}

/* HEADER */
/*#header-nav {
  background-color: #a5a5af;
  border-radius: 0;
  border: 0;
}*/

div {
  box-sizing: border-box;
}

#logo-img {
  background: url('/client/img/smallClue.png') no-repeat;
  width: 80px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 40px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #015249;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus, #home a:hover {
  text-decoration: none;
  cursor: pointer;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #015249;
  text-align: center;
}
#nav-list a:hover {
  background: #77c9d4;
  cursor: pointer;
}
#nav-list a span {
  font-size: 1.8em;
}

#instruction {
  text-align: left;
}

/* Main page */
#msgDiv, #lobby, #gamearea, #instruction {
  display: none;
}

/* Lobby Page */
.left {
  width: 135px;
  height: 198px;
  float: left;
  margin: 5px 5px 5px 5px;
  display: none;
}

.left:hover {
  box-shadow: 0 1px 5px 1px orange;
}

#character0 {
  background: url('/client/img/characters/scarlet.png') no-repeat;
}

#character1 {
  background: url('/client/img/characters/plum.png') no-repeat;
}

#character2 {
  background: url('/client/img/characters/mustard.png') no-repeat;
}

#character3 {
  background: url('/client/img/characters/peacock.png') no-repeat;
}

#character4 {
  background: url('/client/img/characters/green.png') no-repeat;
}

#character5 {
  background: url('/client/img/characters/white.png') no-repeat;
}

#character {
  display: none;
}
/* End Lobby Page */

/* gamearea */
#gameboard {
  width: 610px;
  float: left;
  padding-right: 0;
  padding-left: 0;
}

#myImg, #playerImg {
  width: 20px;
  height: 20px;
}

/*.img {
  position: relative;
  margin: 0;
}*/

.room {
  width: 140px;
  height: 140px;
  padding: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.float {
  float: left;
  text-align: center;
}

.quarter {
  height: 40px;
  margin-top: 45px;
  padding-top: 0;
  background-color: #9F8170;
  width: 95px;
}

.vHallway1 {
  width: 40px;
  height: 95px;
  padding-left: 0;
  margin-left: 45px;
  background-color: #9F8170;
}

.vHallway2 {
  width: 40px;
  height: 95px;
  padding-left: 0;
  margin-left: 200px;
  background-color: #9F8170;
}

.vHallway3 {
  width: 40px;
  height: 95px;
  padding-left: 0;
  margin-left: 200px;
  background-color: #9F8170;
}

div.float {
  box-sizing: border-box;
}

#study {
  background: url('/client/img/rooms/study.png') no-repeat;
}

#hall {
  background: url('/client/img/rooms/hall.png') no-repeat;
}

#lounge {
  background: url('/client/img/rooms/lounge.png') no-repeat;
}

#dining {
  background: url('/client/img/rooms/dining.png') no-repeat;
}

#billiard {
  background: url('/client/img/rooms/billiard.png') no-repeat;
}

#library {
  background: url('/client/img/rooms/library.png') no-repeat;
}

#conservatory {
  background: url('/client/img/rooms/conservatory.png') no-repeat;
}

#ballroom {
  background: url('/client/img/rooms/ballroom.png') no-repeat;
}

#kitchen {
  background: url('/client/img/rooms/kitchen.png') no-repeat;
}

/*.pos1 {
  top: 10px;
  left: 5px;
}

.pos2 {
  top: 10px;
  left: 25px;
}

.pos3 {
  top: 50px;
  right: 80px;
}

.pos4 {
  top: 50px;
  left: 30px;
}

.pos5 {
  top: 50px;
  left: 25px;
}

.pos6 {
  top: 10px;
  right: 10px;
}*/

.pos7 {
  margin: 37px auto;
}

.pos8 {
  margin: 5px auto;
}

.chat {
  float: left;
  margin-left: 20px;
}

#chatWindow, #activityLog, #myCards {
  width: 100%;
  height: 156px;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-y: scroll;
  border: 1px solid green;
  box-sizing: border-box;
}

#chatInput {
  width: 100%;
  height: 28px;
}

#note {
  width: 225px;
  height: 605px;
  border: 1px solid green;
  margin-left: 5px;
}

#gameInfo {
  width: 300px;
  height: 605px;
  padding: 0;
  margin-left: 5px;
}

#firstRow {
  width: 300px;
}

.info {
  height: 96px;
  width: 96px;
  border: 1px solid green;
  margin: 2px 2px 2px 2px;
  float: left; 
}

/* End gamearea */