<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Clueless Game App</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/client/css/style.css">
	</head>

	<body>
		<header>
			<nav id="header-nav" class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a href="#" class="pull-left visible-md visible-lg">
							<div id="logo-img" alt="Logo image"></div>
						</a>

						<div class="navbar-brand">
							<a href="#">
								<h1>ClueLess</h1>
							</a>
						</div>

						<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div id="collapsable-nav" class="collapse navbar-collapse">
						<ul id="nav-list" class="nav navbar-nav navbar-right">
							<li id="navHomeButton" class="visible-xs active">
								<a href="#">
									<span class="glyphicon glyphicon-home"></span> Home
								</a>
							</li>

							<li>
								<a href="#">
									<span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> Instructions
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="container">
			<h3 class="text-center" id="gameStatus"></h3>
			<!-- Main Page -->
			<div id="main">
				<div class="jumbotron">
					<p>JHU Software Engineering Class</p>
					<hr>
					<p>This is a modified version of the board game Clue. Full instructions can be found in the  <a href="#">instruction page</a></p>
				</div>
				<div class="text-center">
					<div class="btn-group btn-group-lg" role="group" id='createBtn'>
						<button type="button" class="btn btn-success btn-start" onclick="createGame()">New Game</button>
					</div>
					<div id="msgDiv">
						A game is already in progress.
					</div>
				</div>
			</div>
			<!-- End Main Page -->

			<!-- Lobby Page -->
			<div class="text-center" id="lobby">
				<h4 class="text-center" id="playerCount"></h4>
				<div id="playerInfo">
					<input type="text" id="playerName" placeholder="Choose a name">
					<button type="button" onclick="setName()">Submit</button>
					<p id="nameErr"></p>
				</div>
				<div id="characters"></div>
				<button type="button" class="btn btn-success btn-start" onclick="startGame()" id='startBtn' disabled>Start Game</button>
			</div>
			<!-- End Lobby Page -->

			<!-- Game Area -->
			<div id="gamearea">
				<div class="row">
					<div class="col-md-6" id="gameboard">
						<div class='float sixteen' id='study'><img class='pos1' id='study1' src=''><img class='pos4' id='study2' src=''></div>
						<div class='float quarter'><img class='pos2' id='SH1' src=''></div>
						<div class='float eighteen' id='hall'><img class='pos1' id='hall1' src=''><img class='pos4' id='hall2' src=''></div>
						<div class='float quarter'><img class='pos2' id='HL1' src='/client/img/smallPieceRed_border00.png'></div>
						<div class='float sixteen' id='lounge'><img class='pos1' id='lounge1' src=''><img class='pos4' id='lounge2' src=''></div>
						<div class='float vHallway1'><img class='pos3' id='SL1' src='/client/img/smallPiecePurple_border00.png'></div>
						<div class='float vHallway2'><img class='pos3' id='HB1' src=''></div>
						<div class='float vHallway3'><img class='pos3' id='LD1' src='/client/img/smallPieceYellow_border00.png'></div>
						<div class='float sixteen' id='library'><img class='pos1' id='library1' src=''><img class='pos4' id='library2' src=''></div>
						<div class='float quarter'><img class='pos2' id='LB1' src=''></div>
						<div class='float eighteen' id='billiard'><img class='pos1' id='billiard1' src=''><img class='pos4' id='billiard2' src=''></div>
						<div class='float quarter'><img class='pos2' id='BD1' src=''></div>
						<div class='float sixteen' id='dining'><img class='pos1' id='dining1' src=''><img class='pos4' id='dining2' src=''></div>
						<div class='float vHallway1'><img class='pos3' id='LC1' src='/client/img/smallPieceBlue_border00.png'></div>
						<div class='float vHallway2'><img class='pos3' id='BB1' src=''></div>
						<div class='float vHallway3'><img class='pos3' id='DK1' src=''></div>
						<div class='float sixteen' id='conservatory'><img class='pos1' id='conservatory1' src=''><img class='pos4' id='conservatory2' src=''></div>
						<div class='float quarter'><img class='pos2' id='CB1' src='/client/img/smallPieceGreen_border00.png'></div>
						<div class='float eighteen' id='ballroom'><img class='pos1' id='ballroom1' src=''><img class='pos4' id='ballroom2' src=''></div>
						<div class='float quarter'><img class='pos2' id='BK1' src='/client/img/smallPieceWhite_border00.png'></div>
						<div class='float sixteen' id='kitchen'><img class='pos1' id='kitchen1' src=''><img class='pos4' id='kitchen2' src=''></div>
					</div>

					<div class="col-md-3" id="gameInfo">
						<div id="firstRow">
							<div id="myPlayer" class="info"></div>
							<div class="info"></div>
							<div class="info"></div>
						</div>
						
						<div id="myCards"></div>
						<div id="activityLog"></div>
						<div id="chatWindow"></div>

						<form id="chatForm">
							<input type="text" name="chat" id="chatInput">
						</form>
					</div>

					<div class="col-md-3" id="note">
						
					</div>		
				</div>
			</div>
			<!-- End Game Area -->
		</div>


		<!-- Libs -->
		<script type="text/javascript" src="/node_modules/socket.io-client/dist/socket.io.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script type="text/javascript" src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

		<!-- JS files -->
		<script type="text/javascript" src="/client/js/player.js"></script>
		<script type="text/javascript" src="/client/js/card.js"></script>
		<script type="text/javascript" src="/client/js/board.js"></script>
		<script type="text/javascript" src="/client/js/client.js"></script>
	</body>
</html>