<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Clueless Game App</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/client/css/style.css">
	</head>

	<body>
		<header>
			<nav id="header-nav" class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a href="#" class="pull-left visible-md visible-lg">
							<div id="logo-img" alt="Logo image"></div>
						</a>

						<div class="navbar-brand">
							<a href="#">
								<h1>ClueLess</h1>
							</a>
						</div>

						<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div id="collapsable-nav" class="collapse navbar-collapse">
						<ul id="nav-list" class="nav navbar-nav navbar-right">
							<li id="navHomeButton" class="visible-xs active">
								<a href="#">
									<span class="glyphicon glyphicon-home"></span> Home
								</a>
							</li>

							<li>
								<a href="#">
									<span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> Instructions
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="container">
			<h3 class="text-center" id="gameStatus"></h3>
			<!-- Main Page -->
			<div id="main">
				<div class="jumbotron">
					<p>JHU Software Engineering Class</p>
					<hr>
					<p>This is a modified version of the board game Clue. Full instructions can be found in the  <a href="#">instruction page</a></p>
				</div>
				<div class="text-center">
					<div class="btn-group btn-group-lg" role="group" id='createBtn'>
						<button type="button" class="btn btn-success btn-start" onclick="createGame()">New Game</button>
					</div>
					<div id="msgDiv">
						A game is already in progress.
					</div>
				</div>
			</div>
			<!-- End Main Page -->

			<!-- Lobby Page -->
			<div class="text-center" id="lobby">
				<h4 class="text-center" id="playerCount"></h4>
				<div id="playerInfo">
					<input type="text" id="playerName" placeholder="Choose a name">
					<button type="button" onclick="setName()">Submit</button>
					<p id="nameErr"></p>
				</div>
				<div id="characters"></div>
				<button type="button" class="btn btn-success btn-start" onclick="startGame()" id='startBtn' disabled>Start Game</button>
			</div>
			<!-- End Lobby Page -->

			<!-- Game Area -->
			<div id="gamearea">
				Gameboard and Stuff here
			</div>
			<!-- End Game Area -->
		</div>


		<!-- Libs -->
		<script type="text/javascript" src="/node_modules/socket.io-client/dist/socket.io.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script type="text/javascript" src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

		<!-- JS files -->
		<script type="text/javascript" src="/client/js/player.js"></script>
		<script type="text/javascript" src="/client/js/client.js"></script>
	</body>
</html>